-e git+https://github.com/dolfandringa/Flask-AppBuilder@develop#egg=flask-appbuilder
redis
autopep8
fab-addon-geoalchemy>=0.4.1
wtforms_jsonschema2[fab]>=0.7.0
eventlet
pyjwt
flask-cors
flask-session
flask-socketio
pillow
psycopg2
flask-migrate
flask-script
python-dateutil
tzlocal
SQLAlchemy-Continuum
flask_weasyprint
