{% extends "modama_base.html" %}
{% import 'appbuilder/general/lib.html' as lib %}

{% block body %}
{% block content %}

<h1 class="title">{{ title }}</h1>
{% block show_form %}
        {{ widgets.get('print_show')()|safe }}
{% endblock show_form %}
{% if related_views %}
    {% for view in related_views %}
        <div id="{{view.__class__.__name__}}">
          <h2 class="title">{{ view.title }}</h2>
            {{ widgets.get('related_print_views')[loop.index - 1](pk = pk)|safe }}
        </div>
    {% endfor %}
{% endif %}


{% endblock content %}

{% endblock %}
